// ## Colors

// ### Primary

$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);

// ### Neutral

$Dark-Grayish-Red: hsl(0, 6%, 24%);

// ### Gradients

// Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 2rem 0;
  min-height: 100vh;

  @media (min-width: 376px) {
    padding: 0;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: "info hero";
  }
}

.logo-mobile {
  width: 6rem;
  padding-left: 2rem;
  margin-bottom: 2rem;

  @media (min-width: 376px) {
    display: none;
  }
}

.logo-desktop {
  display: none;

  @media (min-width: 376px) {
    min-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
    display: block;
  }
}

.heroImage {
  width: 100%;
  grid-area: hero;

  @media (min-width: 376px) {
    content: url(images/hero-desktop.jpg);
    max-height: 100vh;
  }
}

main {
  padding: 2rem;
  text-align: center;
  grid-area: info;

  @media (min-width: 376px) {
    background-image: url(/images/bg-pattern-desktop.svg);
    padding: 1rem 18rem 0 10rem;
    text-align: left;
  }
}

h1 {
  margin: 0 0 2rem 0;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;

  @media (min-width: 376px) {
    font-size: 5rem;
  }
}

h1 > span {
  color: $Desaturated-Red;
  font-weight: 300;
}

p {
  color: $Desaturated-Red;
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: 400;

  @media (min-width: 376px) {
    font-size: 1rem;
  }
}

.search-box {
  border: 1px solid $Desaturated-Red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
  overflow: hidden;
  height: 2.5rem;
  margin-top: 3rem;

  & > input {
    border: none;
    padding-left: 1rem;
    width: 90%;
    outline: none;
  }

  & > input::placeholder {
    color: $Desaturated-Red;
    opacity: 0.5;
    font-family: "Josefin Sans", sans-serif;
  }

  & > button {
    display: grid;
    place-items: center;
    width: 3.5rem;
    border: none;
    border-radius: 1.5rem;
    background-image: linear-gradient(
      to right,
      hsl(0, 80%, 86%),
      hsl(0, 74%, 74%)
    );
    cursor: pointer;
    height: 100%;

    @media (min-width: 376px) {
      width: 4.5rem;
    }
  }

  & > button:hover {
    opacity: 0.5;
  }
}

.invalid {
    border: 2px solid $Soft-Red;
}

.hide {
    display: none;
}

.show-error-icon {
    height: 50%;
    margin-right: .5rem;
}

.error {
  color: $Soft-Red;
  font-size: .7rem;
    padding-left: 1rem;
}
